<?xml version="1.0" encoding="UTF-8"?>  
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="laundrymart-sounds-images" version="1.0.0"> 

    <name>LaundryMart Sounds and Images</name> 
    <description>Adds custom sounds and images to Laundry Mart Notifications</description> 
    <author>Utopia Software</author>	
    <license>MIT</license> 

    <engines> 
        <engine name="cordova" version=">=3.0.0" /> 
    </engines>  

    <!-- android --> 
    <platform name="android">
        
        <!-- Export Custom Notification Sound file -->
        <resource-file src="src/android/sounds/extended_ringtone.mp3" target="res/raw/extended_ringtone.mp3" />

	    <!-- Export Custom Image Icon files -->
	    <!-- Export Custom image for default app icon -->
        <resource-file src="src/android/custom_icons/drawable-mdpi/message_icon.png" target="res/drawable-mdpi/message_icon.png" />
        <resource-file src="src/android/custom_icons/drawable-hdpi/message_icon.png" target="res/drawable-hdpi/message_icon.png" />
        <resource-file src="src/android/custom_icons/drawable-xhdpi/message_icon.png" target="res/drawable-xhdpi/message_icon.png" />
        <resource-file src="src/android/custom_icons/drawable-xxhdpi/message_icon.png" target="res/drawable-xxhdpi/message_icon.png" />
        <resource-file src="src/android/custom_icons/drawable-xxxhdpi/message_icon_lg.png" target="res/drawable-xxxhdpi/message_icon_lg.png" />
        <!-- Export Custom image for incoming-call app icon -->
        <resource-file src="src/android/custom_icons/drawable-mdpi/incoming_call_icon.png" target="res/drawable-mdpi/incoming_call_icon.png" />
        <resource-file src="src/android/custom_icons/drawable-hdpi/incoming_call_icon.png" target="res/drawable-hdpi/incoming_call_icon.png" />
        <resource-file src="src/android/custom_icons/drawable-xhdpi/incoming_call_icon.png" target="res/drawable-xhdpi/incoming_call_icon.png" />
        <resource-file src="src/android/custom_icons/drawable-xxhdpi/incoming_call_icon.png" target="res/drawable-xxhdpi/incoming_call_icon.png" />
        <!-- Export Custom image for missed-call app icon -->
        <resource-file src="src/android/custom_icons/drawable-mdpi/missed_call_icon.png" target="res/drawable-mdpi/missed_call_icon.png" />
        <resource-file src="src/android/custom_icons/drawable-hdpi/missed_call_icon.png" target="res/drawable-hdpi/missed_call_icon.png" />
        <resource-file src="src/android/custom_icons/drawable-xhdpi/missed_call_icon.png" target="res/drawable-xhdpi/missed_call_icon.png" />
        <resource-file src="src/android/custom_icons/drawable-xxhdpi/missed_call_icon.png" target="res/drawable-xxhdpi/missed_call_icon.png" />                
                
    </platform>  
    
</plugin>